@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is the sample Wep App with GitHub intergration</h1>
    <h1 class="display-4">This text just prove that integration and continues deployment works for this project.</h1>
</div>
